/**
 * Style de ContactCard
 **/

.contact-card {
    background-color: $clr-card;
    position: relative;
    z-index: 0;
    overflow: hidden;
    text-decoration: none;
    display: flex;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: -16px;
        right: -16px;
        background: $clr-primary-light;
        height: 40px;
        width: 40px;
        border-radius: 32px;
        transform: scale(1);
        transform-origin: 50% 50%;
        transition: transform 0.25s ease-out;
    }

    &__arrow {
        position: absolute;
        color: #fff;
        right: 2px;
        top: -2px;
    }

    &:hover {

        p,
        h2 {
            transition: all 0.3s ease-out;
            color: #ffffff;
        }

        &::before {
            transform: scale(32);
        }

    }
}