/**
*Gestion des mixins
**/

//Box-sizing
@mixin box-sizing($box-model) {
    -webkit-box-sizing: $box-model; // Safari <= 5
    -moz-box-sizing: $box-model; // Firefox <= 19
    box-sizing: $box-model;
}


//Centre un bloc sans toucher aux margin top et bottom
@mixin center-box {
    margin-left: auto;
    margin-right: auto;
}

//media queries
@mixin sm-only {
    @media screen and (min-width: map-get($breakpoints, sm)) {
        @content;
    }
}

@mixin md-only {
    @media screen and (min-width: map-get($breakpoints, md)) {
        @content;
    }
}

@mixin lg-only {
    @media screen and (min-width: map-get($breakpoints, lg)) {
        @content;
    }
}