//valeurs de breakpoints
$breakpoints: (
  sm:576px,
  md:768px,
  lg:992px,
);

//Couleurs 
$clr-primary: #39B180;
$clr-primary-light: #88D0B2;
$clr-secondary: #6C757D;
$clr-blue: #273f59;
$clr-card: #f2f8f9;