/**
 *Style du component Header
 **/

.header {
    background: url('../../assets/banner.webp')no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    padding: 1% 5%;


    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: -webkit-linear-gradient(90deg, rgba(104, 201, 169, .9) 0%, rgba(57, 177, 128, .9) 100%);
        z-index: -1;
    }

    &__title {
        padding: 15% 0;
    }
}