/**
 * Style du component AboutMe
 **/

.about {
    &__card {
        margin-top: 50px;

        &__photo_box {
            margin: 50px;
            display: block;
            width: 300px;
            height: 350px;
            position: relative;
            border-radius: 10px;
            border: 6px solid $clr-primary;
            min-width: 300px;

            &--image {
                position: absolute;
                display: block;
                width: 300px;
                height: 350px;
                object-fit: contain;
                border-radius: 10px;
                bottom: 5%;
                right: 5%;
            }
        }

        &__content {
            padding-left: 2%;

            &__text {
                display: block;
                border-bottom: 2px dotted lightgray;
                padding-bottom: 10px;
            }
        }
    }
}